@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Space+Mono:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #c5e4e7;
  font-family: "Space Mono";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // --------------------------
  input {
    text-align: right;
    padding: 0.4rem 0.7rem;

    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
    font-size: 24px;
    color: #00474b;
    font-weight: 700;
  }

  input:focus {
    border: 2px solid hsl(172deg, 67%, 45%);
  }

  .errorborder {
    outline: 2px #e17052 solid;
  }
  // ------------------------
  .wrapp {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    background-color: #fff;
    border-radius: 10px;

    #generate {
      width: 100%;
      height: 45px;
      background-color: #26c2ae;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-top: 2rem;
      color: #00474b;
      max-width: 320px;
      font-size: 18px;
    }
    // ---------------------
    .main1 {
      display: grid;
      grid-template-rows: auto;
      row-gap: 1rem;

      .wrapp-first {
        position: relative;

        .alert {
          display: flex;
          justify-content: space-between;
        }
        #alert-zero {
          color: red;
          opacity: 0;
        }
        img {
          position: absolute;
          top: 37px;
          left: 10px;
        }
      }

      p {
        color: #5e7a7d;
      }

      .wrapp-second {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        grid-template-rows: 1fr;
        gap: 1rem;

        .same {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #00474b;
          // padding: 0.6rem;
          height: 40px;
          border-radius: 5px;
          color: #fff;
          font-weight: 700;
          cursor: pointer;
          outline: none;
          border: none;
          font-size: 16px;
        }

        .same:active,
        .same:focus {
          background-color: #26c2ae;
          color: #00474b;
        }

        // .click {
        // background-color: #26c2ae;
        // color: #00474b;
        // }
      }

      .wrapp-third {
        position: relative;
        img {
          position: absolute;
          top: 37px;
          left: 10px;
        }
        .alert {
          display: flex;
          justify-content: space-between;
        }
        #alert-zero2 {
          color: red;
          opacity: 0;
        }
      }
    }

    .main2 {
      background: #00474b;
      border-radius: 20px;
      padding: 20px;

      .amounts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 30px;
        .person {
          display: flex;
          justify-content: space-between;
          div {
            display: flex;
            flex-direction: column;

            h3 {
              color: #fff;
            }

            p {
              color: #7f9d9f;
            }
          }

          .right_amount {
            h1 {
              color: #26c2ae;
              font-size: 40px;
            }
          }
        }
      }

      button {
        background: #9fe8df;
        border: 0;
        border-radius: 10px;
        max-width: 350px;
        width: 350px;
        padding: 18px;
        margin-top: 20px;
        cursor: pointer;
        text-transform: uppercase;
        color: #00474b;
        font-size: 20px;
      }
    }
  }
}


//----------- 
@media (max-width: 860px) {
  body {
    .wrapp {
      grid-template-columns: 1fr;
      width: 500px;
    }

    #reset-button {
      max-width: 420px;
      width: 420px;
    }

    .main2 {
      margin-top: 30px;
    }

    input {
      width: 100%;
    }
  }
}

@media (max-width: 525px) {
  body {
    .wrapp {
      width: 400px;
    }

    .main2 {
      width: 350px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 15px;

      .amounts {
        padding: 0;
      }
  
    }


    #reset-button {
      width: 100%;
    }
  }
}

@media (max-width: 415px) {
  body {
    .wrapp {
      width: 350px;
      .main1 {
        .wrapp-second {
          grid-template-columns: repeat(2, 1fr);
        }

        .wrap-third {
          img {
            top: 50px;
          }
        }
      }
    }

    .main2 {
      width: 290px;

      .amounts {
        padding: 10px;
      }
    }


    input {
      width: 100%;
    }
  }
}

@media (max-width: 330px) {
  body {
    .wrapp {

    }

    .main2 {
      width: 270px;

    }

  }
}
